<div class="mb-3">
  <%= link_to "< Back", root_path, class: "py-1 text-center rounded text-blue-500 font-bold hover:opacity-75" %>
</div>

<h1 class="text-4xl font-bold">New movie</h1>

<div class="mt-5">
  <%= render "form", movie: @movie %>
</div>
